.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header h1{
    font-size: 30px;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    color: #fba31c;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }
  .menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
  }
  .locationprovider{
    display: block;
  }
  
  .profile-icon {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    border-radius: 50%;
  }

  @media (max-width: 1024px) {
    .header h1{
      font-size: 25px;
    }
  }
  @media (max-width: 768px) {
    .header h1{
      font-size: 23px;
    }
  }

  @media (max-width: 436px) {
    .header h1{
      font-size: 16px;
    }
  }
  

  .navbar-location-container1 {
    position: absolute;
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65px; /* Place right below the navbar */
    width: 100%;
    text-align: center;
    z-index: 999; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .navbar-location-container1.hide {
    opacity: 0;
    visibility: hidden;
  }

  .navbar-location-mobile1 {
    display: flex;
    align-items: center;
    margin: 10px auto; /* Add spacing and center alignment */
    font-size: 16px;
    color: #1f2937;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

