/* Scoped styles for the Login page */
body{
    margin: 0;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    margin: 0;
    z-index: -2;
    background-color: #aaaaaa35;
  }
  .login-page .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.60; 
    object-fit: cover;
    z-index: -1; 
    filter: blur(4px);
  }
  
  .login-page .login-card {
    background-color: #ffffff;
    color: #383838;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    max-width: 430px;
    width: 100%;
    text-align: center;
  }

  .login-page .login-card p{
    margin: 0;
    font-size: 10px;
    color: #5b5b5b;
  }

  .login-page .google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    color: #333333;
    border: 1px solid #e5e7eb;
    box-shadow: 1px 1px 3px rgb(220, 220, 220);
    padding: .7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%; 
    box-sizing: border-box; 
  }

  .login-page .google-signin:hover {
    background-color: #edecec;
  }

  .login-page .google-signin p{
    font-size: 17px;
    margin: 0;
    color: #363a3f;
  }
  
  .login-page .google-icon {
    height: 25px;
    margin-right: 1rem;
  }

  
  .login-page .divider {
    font-size: 1rem;
    color: #6b7280;
    margin: 1rem 0;
    position: relative;
  }
  
  .login-page .divider::before,
  .login-page .divider::after {
    content: "";
    height: 1px;
    background-color: #e5e7eb;
    position: absolute;
    width: 45%;
    top: 50%;
  }
  
  .login-page .divider::before {
    left: 0;
  }
  
  .login-page .divider::after {
    right: 0;
  }
  
  .login-page .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-page .login-input {
    border: 1px solid #d1d5db;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    margin-top: .8rem;
    color: #1f2937;
    font-size: .9rem;
  }
  input::placeholder {
    color: #1f2937;
  }
  
  .login-page .password-container {
    position: relative;
  }
  
  .login-page .forgot-password {
    font-size: 0.8rem;
    color: #3b82f6;
    text-decoration: none;
    margin-top: 1rem;
    text-align: right;
  }
  
  .login-page .forgot-password:hover {
    text-decoration: none;
  }

  .login-page .error-text{
    color: rgb(255, 75, 75);
    font-size: 11px;
  }
  
  .login-page .login-button {
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    margin-top: .8rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-page .login-button:hover {
    background-color: #336eee;
  }
  
  .login-page .create-account {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .login-page .create-account p{
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    margin-top: 1rem;
  }
  .login-page .create-account a{
    font-size: 0.9rem;
    color: #3b82f6;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  .login-page .create-account:hover {
    text-decoration: underline;
    text-decoration: none;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .login-page .login-card {
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .login-page .login-card {
      padding: 1rem;
    }
  
    .login-page .google-signin {
      padding: 0.4rem 0.8rem;
    }
  
    .login-page .login-button {
      padding: 0.4rem 0.8rem;
    }
  }
  