.renterequipment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.renterequipment-table th, .renterequipment-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.renterequipment-table th {
  background-color: #f4f4f4;
}

.renterequipment-table .equipment-image {
  width: 160px;
  height: 110px;
}

.renterequipment-table .eq-desc,.eq-location{
  text-align: justify;
  font-size: 10px; 
}
.renterequipment-table .eq-location{
  text-align: justify;
  font-size: 10px; 
}

.renterequipment-table .delete-btn {
  color: white;
  background-color: #fba31c;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.renterequipment-table .delete-btn:hover {
  background-color: #df8b0f;
}

.renterequipment-table .activate-btn {
  color: white;
  background-color: #29df26;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.renterequipment-table .reject-btn {
  color: white;
  background-color: #fe2929;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

